:root {
    --blanco: #fff;
    --negro: #000;
    --gris: #bbbbbb;
    --azul: #070783;
    --celeste: #00c5e7;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    letter-spacing: 0px;
    color: var(--negro);
    background-color: var(--blanco);
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 150px;
    width: 100%;
    background-image: url(../imgs/fondo_header.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}
h1 {
    margin: 0px;
    font-weight: 700;
    font-size: 2.5em;
    color: var(--blanco);
    text-shadow: var(--negro) 2px 3px;
}
h2 {
    margin: 0px;
    font-weight: 400;
    font-size: 2em;
    color: var(--blanco);
    text-shadow: var(--negro) 2px 3px;
}
h3 {
    margin: 30px 0px 0px 20px;
    font-weight: 700;
    font-size: 1.4em;
    color: var(--negro);
}
h4 {
    margin: 15px 0px 0px 0px;
    font-weight: 700;
    font-size: 1.2em;
    color: var(--negro);
}

ul {
    padding: 0px;
    margin: 0px;
}
nav ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: var(--azul);
    list-style-type: none;
    margin: 0px;
}
nav li {
    padding: 0.5em;
    font-size: 1em;
    font-weight: 400;
}
nav a {
    text-decoration: none;
    color: var(--blanco);
    padding: 0.5em;
}
nav a:hover {
    color: var(--azul);
    background-color: var(--blanco);
}
nav a:active {
    color: var(--azul);
    background-color: var(--blanco);
    font-weight: 700;
}

.personal-contenedor {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.personal-contenedor p {
    margin: 0px;
}
.personal-contenedor img {
    margin: 20px 20px 0px 20px;
    max-height: 200px;
}
.titulo-lista {
    font-weight: 700;
}

.work div,
.teaching div,
header div,
.texto-main,
.links {
    margin: 0px 0px 0px 20px;
}

.carreras {
    font-weight: 400;
}

.formacion {
    margin: 0px 0px 0px 20px;
}

footer {
    background-color: var(--azul);
    height: 80px;
    color: var(--blanco);
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p {
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.portafolio {
    display: flex;
    justify-content: center;
}
.galeria {
    width: 80%;
}
.elemento {
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: var(--gris);
    border-top-style: solid;
    border-top-width: 1px;
    padding: 10px 0px;
}
.ordenamiento {
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: var(--gris);
    border-top-style: solid;
    border-top-width: 1px;
    padding: 10px 0px;
}
.texto-izq {
    text-align: left;
    width: 30%;
    padding-right: 10px;
}
.imagen {
    text-align: center;
    width: 600px;
}
.texto-der {
    text-align: right;
    width: 30%;
    padding-left: 10px;
    flex-wrap: nowrap;
}
.galeria img {
    border-color: var(--gris);
    border-style: solid;
    border-width: 1px;
    object-fit: scale-down;
}
.links ul {
    list-style-type: none;
    font-weight: 400;
}
.links li {
    padding: 4px 0px 4px 20px;
}
.links a {
    text-decoration: none;
    color: var(--negro);
}
@media (max-width: 425px){
    .personal-contenedor{
        display: flex;
        flex-direction: column;
    }
    .contenedor-texto{
        margin-top: 2vh;
    }
    .contenedor-texto p{
        margin: 0.5vh;
    }
}
@media (max-width: 768px){
    .portafolio {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .elemento {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-color: var(--gris);
        border-top-style: solid;
        border-top-width: 1px;
    }
    .ordenamiento{
        display: flex;
        flex-direction: column-reverse;
    }
    .texto-izq {
        text-align: center;
        padding-right: 10px;
    }
    .imagen {
        text-align: center;
        width: 70vw;
    }
    .imagen img{
        width: 70vw;
    }
    .texto-der {
        text-align:start;
        flex-wrap: nowrap;
    }
    .galeria img {
        border-color: var(--gris);
        border-style: solid;
        border-width: 1px;
        object-fit: scale-down;
    }
}